body{
    font-family: "Boldonse", system-ui;
    text-align: center;
    margin-top: 10%;
    background-image: url(Imagem/fundo.jpg.jpg);
    background-size: cover;
    background-position: center;
}

input, button{
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
  
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 15px;

}
.caixa-busca {
    width: 50vh;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(143, 211, 243);
}
.caixa-resultado {
    width: 50vh;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(142, 211, 243);
}